@use "~bootstrap/scss/bootstrap" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

#sneaker-card {
    height: 375px;
    overflow: hidden;

    .img-box {
        height: 300px;
    }
}

#sneaker-item {
    padding: 65px 0;

    .sneaker-card {
        display: flex;
        gap: 15px;

        .img-box {
            flex-basis: 45%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                object-fit: contain;
            }
        }


        .sneaker-info {
            flex-basis: 55%;

            h1 {
                font-size: 40px;
            }

            h3 {
                font-size: 20px;
            }

            h1,
            h3,
            p {
                margin: 20px 0;
            }
        }
    }

}